/*Configurações gerais*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e2e8f0;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}


/*Container e Header*/
.container {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 4fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    background-color: black;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    padding: 0px 20px;
}

.header-search {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
}

.header-search>img {
    justify-self: center;
}

.header-search>input {
    border-style: none;
    border-radius: 100px;
    background-color: #b4b6b8;
    height: 30px;
    padding: 0px 10px;
    font-size: 1.1em;
}

.header-profile {
    display: grid;
    grid-template-columns: 2fr 40px 1fr;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.2em;
    font-weight: 600;
    color:antiquewhite;
}

.header-profile>img:first-of-type {
    justify-self: flex-end;
}

.header-profile>img:last-of-type {
    width: 40px;
    height: 40px;
}

.header-welcome {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
    font-weight: 500;
    color:antiquewhite;
}

.header-welcome>img {
    grid-area: 1 / 1 / 2 / 2;
    width: 80px;
    height: 80px;
    justify-self: center;
    align-self: center;
}

.welcome-text>p:first-of-type {
    font-size: 0.7em;
}

.header-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 20px;
}

.header-buttons>button {
    border-style: none;
    border-radius: 100px;
    background-color: #033021;
    color:antiquewhite;
    height: 40px;
    font-size: 0.9em;
    font-weight: 600;
}

button:hover {
    background-color: #022110;
    transition: 0.5s;
}

/*Sidebar*/
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #033021;
    padding: 20px;
    font-size: 1.2em;
    align-items: center;
}

a>img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:hover {
    transition: all .2s ease-in-out;
    color: rgb(172, 172, 172);
}

.sidebar>ul {
    display: grid;
    grid-template-rows: repeat(12, 50px);
    justify-content: stretch;
    align-items: center;
    list-style: none;
    padding: 0;
}

.sidebar-logo,
.sidebar-nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    font-size: 1.0em;
    gap: 10px;
}

.sidebar-logo>img,
.sidebar-nav>img {
    justify-self: center;
    position: relative;
}

.sidebar-logo>img {
    width: 50px;
    height: 50px;
}

.sidebar-logo {
    font-size: 1.4em;
}

/*Sessão projetos*/
.main-content {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 25px;
    padding: 40px 20px;
}

#projects,
#announcements,
#trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

#projects {
    grid-column: 1 / 2; /* Fica na coluna da esquerda */
    grid-row: 1 / 3; /* Fica na linha de cima */
}

.content-headers {
    align-self: start;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 15px;
}

.content-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.project,
.content-announcements,
.content-trending {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.project {
    display: grid;
    grid-template-columns: 6px 1fr;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-direction: column;
    transition: all .2s ease-out;
    position: relative;
    top: 0;
    padding: 4px;
}

.project:hover {
    top:-4px;box-shadow:0 4px 3px #999;
}

.accent {
    background-color: rgb(8, 29, 4);
    border-radius: 10px 0 0 10px;
}

.project-content {
    display: grid;
    grid-template-rows: 1fr 20px;
    padding: 25px 15px;
    gap: 10px;
    flex: 1;
}

.project-title {
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.project-body {
    font-size: 1em;
    color: #636363;
}

.project-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    cursor: pointer;
}

.project-buttons>img {
    width: 20px;
    height: 20px;
}

/*Sessão Anúncios*/
.content-announcements {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: space-evenly;
}

#announcements {
    grid-column: 2 / 3; /* Fica na coluna da direita */
    grid-row: 1 / 2; /* Fica na linha de cima */
    transition: all .2s ease-in-out;
    position: relative;
    top: 0;
    padding: 4px;
}

.content-announcements:hover {
    top:-4px;
    box-shadow:0 4px 3px #999
}

.announcement-title {
    font-size: 1em;
    font-weight: 600;
}

.announcement-body {
    font-size: 0.9em;
    color: #636363;
}

/*Sessão Trends*/
#trending {
    grid-column: 2 / 3; /* Fica na coluna da direita */
    grid-row: 2 / 3; /* Fica na linha de baixo */
}

.content-trending {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    transition: all .2s ease-in-out;
    position: relative;
    top: 0;
    padding: 4px;
}

.content-trending:hover {
    top:-4px;
    box-shadow:0 4px 3px #999
}

.trending-profile {
    display: grid;
    grid-template-columns: 40px 1fr;
    padding: 15px;
    gap: 15px;
    align-items: center;
    cursor: pointer;
}

.trending-profile > img {
    width: 40px;
    height: 40px;
}

.trending-username,
.trending-name {
    font-size: 1em;
}

.trending-name {
    color: #636363;
}
